:root {
    --grid-side: 4;
    --default-color: white;
    --roundness: 20px;
    --grid-size: 80vh;
}

header {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
}

.buttons {
    width: var(--grid-size);
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    height: var(--grid-size);
    width: var(--grid-size);
    grid-template-columns: repeat(var(--grid-side), 1fr);
    border: 1px solid black;
    border-radius: var(--roundness);
}

.cell {
    border: 1px solid black;
}

.top-left-corner {
    border-radius: var(--roundness) 0px 0px 0px;
}

.top-right-corner {
    border-radius: 0px var(--roundness) 0px 0px;
}

.bot-left-corner {
    border-radius: 0px 0px 0px var(--roundness);
}

.bot-right-corner {
    border-radius: 0px 0px var(--roundness) 0px;
}

main {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr var(--grid-size) 1fr;
    gap: 40px;
}

.grid {
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.utils {
    grid-column: 3;
    justify-self: start;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.colors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.color {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 2px;
}

.col1 {
    background-color: black;
}
.col2 {
    background-color: white;
}
.col3 {
    background-color: red;
}
.col4 {
    background-color: orange;
}
.col5 {
    background-color: yellow;
}
.col6 {
    background-color: green;
}
.col7 {
    background-color: blue;
}
.col8 {
    background-color: purple;
}