:root {
    --grid-side: 4;
    --grid-color: #242629;
    --pen-color: #000000;
    --background-color: #16161a;
    --default-paint: #000000;
    --roundness: 20px;
    --grid-size: 80vh;

    /* #7f5af0 */
    --text-color: #5841B7;
    --button-text-color: #020826;
    --text-color-active: #5841B7;
    --button-background: #5841B7;
    --button-background-active: #020826;
    --button-border: #020826;

    --header-and-footer: #272343;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: var(--background-color);
    display: grid;
    grid-template-areas:
        "header header header"
        "blank main sidebar"
        "footer footer footer";
    grid-template-columns: 1fr var(--grid-size) 1fr;
    grid-template-rows: 8vh 87vh 5vh;
}

header,
footer {
    background-color: var(--header-and-footer);
    /* background: linear-gradient(270deg, #a38ed2, #f9c1eb);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; */
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

header {
    height: 8vh;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-pro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    width: var(--grid-size);
    display: flex;
    justify-content: space-between;
}

.grid {
    grid-area: main;
    margin-top: 3vh;
    display: grid;
    height: var(--grid-size);
    width: var(--grid-size);
    grid-template-columns: repeat(var(--grid-side), 1fr);
    /* border: 1px solid var(--main-color); */
    /* border-radius: var(--roundness); */
    grid-column: 2;
    /* color: var(--main-color); */
    color: black;
    box-shadow: 2px 2px 5px;
}

/* .cell {
    border: 1px solid var(--main-color); 
} */

.top-left-corner {
    border-radius: var(--roundness) 0px 0px 0px;
}

.top-right-corner {
    border-radius: 0px var(--roundness) 0px 0px;
}

.bot-left-corner {
    border-radius: 0px 0px 0px var(--roundness);
}

.bot-right-corner {
    border-radius: 0px 0px var(--roundness) 0px;
}

.left-blank {
    grid-area: blank;
}

.utils {
    grid-area: sidebar;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.color {
    height: 30px;
    width: 30px;
    /* border: 1px solid var(--main-color); */
    border-radius: 2px;
    color: var(--button-text-color);
    box-shadow: 2px 2px 5px black;
}

.col1 {
    background-color: #000000;
}
.col2 {
    background-color: #ffffff;
}
.col3 {
    background-color: #ff0000;
}
.col4 {
    background-color: #ffa500;
}
.col5 {
    background-color: #ffff00;
}
.col6 {
    background-color: #008000;
}
.col7 {
    background-color: #0000ff;
}
.col8 {
    background-color: #800080;
}

#pro-utils {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.color-selector {
    visibility: hidden;
}

.canvas-label {
    background-color: var(--grid-color);
}

.pen-label {
    background-color: var(--pen-color);
}

label {
    border-radius: 9px;
    height: 30px;
    width: 64px;
}

.pen-selector,
.canvas-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.slider {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    height: 200px;
    width: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #001858;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #001858;
    cursor: pointer;
}

.opacity-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header button {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    height: 4vh;
    border-radius: 0px;
    border: 2px solid var(--button-border);
    box-shadow: none;
    margin: 0px -4px;
}

button,
.pen-text,
.canvas-text {
    font-family: Kanit;
    font-weight: 400;
    font-size: 14px;
}

.pen-text,
.canvas-text {
    color: var(--text-color);
}

.output {
    color: var(--text-color);
    font-family: Kanit;
    font-weight: 400;
    font-size: 16px;
}

button {
    color: var(--button-text-color);
    padding: 6px 12px;
    border: 0px solid var(--button-text-color);
    border-radius: 9px;
    background-color: var(--button-background);
    box-shadow: 2px 2px 5px #000000;
    transition: background-color 0.4s ease;
}

button.active,
button:active {
    color: var(--text-color-active);
    background-color: var(--button-background-active);
    box-shadow: none;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: var(--text-color);
    font-family: Kanit;
    font-weight: 400;
    font-size: 16px;
}

.github-profile {
    align-self: center;
    height: 25px;
    filter: brightness(0%) saturate(100%) invert(26%) sepia(35%) saturate(3587%) hue-rotate(236deg) brightness(88%) contrast(90%);
    /* filter: brightness(0%) saturate(100%) invert(8%) sepia(18%) saturate(3492%) hue-rotate(203deg) brightness(93%) contrast(112%); */
    /* filter: brightness(0%) saturate(100%) invert(5%) sepia(93%) saturate(7429%) hue-rotate(217deg) brightness(77%) contrast(109%); */
}