:root {
    --grid-side: 4;
    --default-color: #fef6e4;
    --default-paint: #000000;
    --roundness: 20px;
    --grid-size: 80vh;
    --main-color: #33272a;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: #fef6e4;
    display: grid;
    grid-template-areas:
        "header header header"
        "blank main sidebar"
        "footer footer footer";
    grid-template-columns: 1fr var(--grid-size) 1fr;
    grid-template-rows: 8vh 87vh 5vh;
}

header {
    height: 8vh;
    background-color: #001858;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-pro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    width: var(--grid-size);
    display: flex;
    justify-content: space-between;
}

.grid {
    grid-area: main;
    margin-top: 3vh;
    display: grid;
    height: var(--grid-size);
    width: var(--grid-size);
    grid-template-columns: repeat(var(--grid-side), 1fr);
    /* border: 1px solid var(--main-color); */
    /* border-radius: var(--roundness); */
    grid-column: 2;
    color: var(--main-color);
    box-shadow: 2px 2px 5px;
}

/* .cell {
    border: 1px solid var(--main-color); 
} */

.top-left-corner {
    border-radius: var(--roundness) 0px 0px 0px;
}

.top-right-corner {
    border-radius: 0px var(--roundness) 0px 0px;
}

.bot-left-corner {
    border-radius: 0px 0px 0px var(--roundness);
}

.bot-right-corner {
    border-radius: 0px 0px var(--roundness) 0px;
}

.left-side {
    grid-area: blank;
}

.utils {
    grid-area: sidebar;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.color {
    height: 30px;
    width: 30px;
    /* border: 1px solid var(--main-color); */
    border-radius: 2px;
    color: var(--main-color);
    box-shadow: 2px 2px 5px;
}

.col1 {
    background-color: #000000;
}
.col2 {
    background-color: #ffffff;
}
.col3 {
    background-color: #ff0000;
}
.col4 {
    background-color: #ffa500;
}
.col5 {
    background-color: #ffff00;
}
.col6 {
    background-color: #008000;
}
.col7 {
    background-color: #0000ff;
}
.col8 {
    background-color: #800080;
}

#pro-utils {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.color-selector {
    border-style: none;
    height: 30px;
    width: 64px;
}

.pen-selector,
.canvas-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.slider {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    height: 200px;
    width: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

header button {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #f3d2c1;
    font-size: 16px;
    height: 4vh;
    border-radius: 0px;
    border: 2px solid #f3d2c1;
    background-color: #001858;
    box-shadow: none;
    margin: 0px -2px;
}

button,
.pen-text,
.canvas-text {
    color: #001858;
    font-family: Kanit;
    font-weight: 400;
    font-size: 14px;
}

button {
    padding: 8px 16px;
    border: 0px solid #001858;
    border-radius: 9px;
    background-color: #fef6e4;
    box-shadow: 2px 2px 5px #000000;
    transition: background-color 0.4s ease;
}

button.active {
    color: #fef6e4;
    background-color: #001858;
    box-shadow: none;
}

header button.active {
    background-color: #f3d2c1;
    color: #001858;
}

footer {
    grid-area: footer;
    background-color: #001858;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #fef6e4;
    font-family: Kanit;
    font-weight: 400;
    font-size: 16px;
}

.github-profile {
    align-self: center;
    height: 25px;
}
